@import "tailwindcss";
@import "./theme.css";

@custom-variant dark (&:where(.dark, .dark *));

button,
a {
  cursor: pointer;
}

:root {
  --header-height: 3rem;
}

button,
a {
  cursor: pointer;
}

@utility hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}