@theme inline {
    --color-background: var(--color-background);
    --color-foreground: var(--color-foreground);
    --color-border: var(--color-border);
    --color-button-background: var(--color-button-background);
    --color-button-foreground: var(--color-button-foreground);
    --color-button-hover: var(--color-button-hover);
}

:root {
    --color-background: var(--color-white);
    --color-foreground: var(--color-black);
    --color-border: var(--color-black);
    --color-button-background: var(--color-black);
    --color-button-foreground: var(--color-white);
    --color-button-hover: var(--color-neutral-700);
}

.dark {
    --color-background: var(--color-black);
    --color-foreground: var(--color-white);
    --color-border: var(--color-white);
    --color-button-background: var(--color-white);
    --color-button-foreground: var(--color-black);
    --color-button-hover: var(--color-neutral-300);
}